.card {
  display: flex;
  flex-direction: column;
  border: 1.2px solid var(--color-border);
  padding: 10px 12px;
  width: 100%;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  margin-bottom: 10px;
  border-bottom: 1.2px solid var(--color-border);
}

.cardContent {
  flex: 1;
  padding: 10px 12px;
  background-color: var(--color-bg-card);
  border-bottom: 1.2px solid var(--color-border);
}

.footer {
  padding: 10px 12px;
}
